html, body {
  margin: 0;
  padding: 0;
}
.input-wrapper {
  width: 200px;
  height: 150px;
  position: absolute;
  bottom: 10%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-50%);
}
.buttons-wrapper {
  width: 150px;
  height: 100px;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}
.btns {
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff; 
  position: absolute;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.up-btn {
  top:0;
  left: 50%;
  transform: translateX(-50%);
}
.down-btn {
  bottom:0;
  left: 50%;
  transform: translateX(-50%);
}
.left-btn {
  left:0;
  top: 50%;
  transform: translateY(-50%);
}
.right-btn {
  right:0;
  top: 50%;
  transform: translateY(-50%);
}